# Environment variables
# ----------------------------
.env

# Dist Folder
# ----------------------------
/dist

# Node modules
# ----------------------------
/node_modules

# Cache
# ----------------------------
/.sass-cache
/.cache

# .DS_store files
# ----------------------------
.DS_Store
