extends /_layouts/docs.pug

block content
  .container.mx-auto.my-8.px-4
    :markdown
      # Button
      Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.
    +document('button', {
      href: {
        value: ['#', null],
        note: 'Add an `href` attributes to turn a `button` into an `a`.',
      },
      color: {
        value: ['blue', 'red'],
        required: 'blue',
      },
      size: {
        value: ['sm', 'md'],
        default: 'md',
      },
      disabled: {
        value: [true, false],
        default: false,
      },
    }) Button
