extends /_layouts/docs.pug

block content
  .container.mx-auto.px-4
    h1 Documentation
    button.bg-red-500.px-4.py-2.text-white.rounded-lg(type="button") This is a button
    +button(href="#") Hello
    p Previews
    +document('button', {
      color: {
        value: ['blue', 'red'],
        default: 'blue'
      },
      size: {
        value: ['sm', 'lg'],
      },
    }) This is a documented button
    +preview
      +icon('activity', 'test')(href="#")
        p This is an icon
