extends /_layouts/app.pug

block content
  .container.mx-auto.px-4
    h1=page.title
    .text
      !=asHtml(page.text)
    .grid.grid-cols-2.md_grid-cols-4
      +responsive-img(page.cover, { default: '50vw', md: '25vw', xl: '320px' })
      +responsive-img('landscapes/landscape-2.jpg', { default: '50vw', md: '25vw', xl: '320px' })(alt="Valley")
    ul
      each project in app.filter(page => page.type === 'project').slice(0, 3)
        li
          a(href=project.url)=project.title
    - projectsPage = getPage('projects')
    +button(color="blue" href=projectsPage.url)= projectsPage.title
