extends /_layouts/app.pug

block content
  .container.mx-auto.px-4
    h1= page.title
    != asHtml(page.text)
    ul
      each project in app.filter(page => page.type === 'project').slice(0, 3)
        li
          a(href=project.url)= project.title
    +button(href=url('projects')) All projects