extends /_layouts/app.pug

block content
  .container.mx-auto.px-4
    h1= page.title
    != asHtml(page.text)
    +responsive-img(page.cover, { default: '50vw', md: '25vw', lg: '320px' })
    +responsive-img('landscape/landscape-2.jpg', { default: '50vw', md: '25vw', lg: '320px' })
    ul
      each project in app.filter(page => page.type === 'project').slice(0, 3)
        li
          a(href=project.url)= project.title
    +button(href=url('projects')) All projects