extends /_layouts/app.pug

block content
  .container.mx-auto.px-4
    h1=page.title
    div(data-controller=(pagination.current === 1 ? 'infinite-scroll' : false) data-action="scroll@document->infinite-scroll#scroll")
      ul(data-target="infinite-scroll.items")
        each project in items
          li.h-64
            a(href=project.url)= project.title
      nav(aria-label="pagination" data-target="infinite-scroll.pagination" data-loading-style="opacity-0")
        ul.flex
          if pagination.previous
            li
              a(href=pagination.previous) Previous
          if pagination.next
            li
              a(href=pagination.next data-target="infinite-scroll.next") Next
